body {
  padding:0px;
  margin:0px;
  font-family: Arial, 'sans-serif';
  color: #eee;
  background-image: url("../images/clock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #141a1e;
}
header {
  text-align: center;
  margin-top:50px;
}
.wrapper {
  text-align:center;
}
input.date {
  font-size:1.5em;
  width:100px;
  margin-bottom: 8px;
}
.btn-1 {
  display: inline-block;
  font-size:1.5em;
  margin:16px;
  padding:4px 8px;
}
#weekDayBox {
  padding:8px 16px;
  font-size:2em;
  color:#eee;
}
footer {
  position:absolute;
  bottom:0;
  padding:0 16px;
}

footer a:link {
  color: #eee;
}
footer a:visited {
  color: #ddd;
}
footer a:hover {
  color: #fff;
}

@media screen and (max-width:1025px) {
  body {
    background-size: auto;
  }
}
