body {
  padding:0px;
  margin:0px;
  font-family: Arial, 'sans-serif';
  color: #222;
  background-color: #eee;
}
header {
  text-align: center;
  margin-top:50px;
}
.wrapper {
  text-align:center;
}
input.date {
  font-size:1.5em;
  width:100px;
}
.btn-1 {
  display: inline-block;
  font-size:1.5em;
  margin:16px;
  padding:4px 8px;
}
#weekDayBox {
  padding:8px 16px;
  font-size:2em;
  color:#0066ff;
}
footer {
  position:absolute;
  bottom:0;
  padding:0 16px;
}
